
.modal3{
    height:100vh;
    width:100vw;
    background-color: rgba(0, 0, 0, 0.418);
    position:fixed;
    z-index:1000;
    top:0;
    left:0;

}

  
  .modal-content3 {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    height:40%;
    position:absolute;
    top:5%;
    left:40%;
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    gap:1rem;
    justify-content:center;
    align-items:center;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position:absolute;
    right:1rem;
    top:0;
  }

  .request-header{
    height:10%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;

  }
  .request-header h2{
   margin-left:10%;
  }
  .request-body{
    height:80%;
    width:90%;
    border:2px solid black;
    display:flex;
    flex-direction:column;
    align-items:center;

  }
  .req{
    width:95%;
    max-height:2rem;
    min-height:2rem;
    background:green;
    margin-top:1rem;
    border-radius:0.5rem;
    display:flex;
    border:1px solid black;

  }
  .image1{
    width:10%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;

  }
  .name3{
    width:75%;
    height:100%;
    display:flex;
    align-items:center;
    
  }
  .icon3{
    width:20%;
    height:100%;
    display:flex;
    align-items:center;
    gap:1rem;
    


  }
  


 
  