.modal1 {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.418);
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.modal-content1 {
  background-color: white;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 80%;
  position: absolute;
  top: 5%;
  left: 35%; /* Adjusted to center the modal */
  border-radius: 1rem;
  display:flex;
  flex-direction:column;
  overflow-y:auto;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.file2 {
  height: 10%;
  width: 90%;
  border-radius: 4px;
  outline: none;
  margin-top: 0.5rem;
  border: 1px solid black;
  padding: 0.5rem;
}

.button-submit {
  width: 70%;
  height: 3rem;
  border-radius: 0.5rem;
  color: white;
  background: blue;
  font-size: 20px;
  margin-top: 2rem;
  margin-left: 8%;
  border: none;
}

.modal-content1 h2 {
  margin-bottom: 4%;
  margin-left: 3rem;
}
.form1{
  
  width:100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
}
